/.idea
/docker-compose.yml
/vendor/
/data/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/sites/default/settings.php
/web/sites/default/settings.local.php
/web/sites/default/settings.prod.php
/web/sites/default/files/
/default_conf
/docker/conf/
/docker/Dockerfile
/docker/entrypoint.sh
/web/sites/default/redis.services.yml
/web/sites/mon_compte.ccas-multisite.local/files/
/web/sites/mon_compte.ccas-multisite.local/settings.php
/web/sites/mon_compte.ccas-multisite.local/settings.local.php
/web/sites/mon_compte.ccas-multisite.local/settings.prod.php
/web/sites/mon_compte.ccas-multisite.local/services.yml
